<ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/meals/list">meals</a></li>
        <li class="breadcrumb-item active">Add orders</li>
    </ol>
    <h1 class="display-4">Add Order</h1>
    <form action="/meals/create" method="post">
        <div class="form-group">
            <label for="ordername">Order Name</label>
            <input type="text" name="ordername" id="ordername" class="form-control" placeholder="order name">
        </div>
        <div class="form-group">
                <label for="ordertype">Order Type</label>
                <input type="text" name="ordertype" id="ordertype" class="form-control" placeholder="order type">
        </div>
        <div class="form-group">
                <label for="count">Count</label>
                <input type="number" name="count" id="count" class="form-control" placeholder="count">
        </div>
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>