<h1 class="display-4">Welcome to Airline Meals</h1>
<p class="mb-4">This is a sails.js app for managing meals in flights.</p>
<a href="/meals/list" class="btn btn-light">View Meals</a>
<a href="/meals/add" class="btn btn-light">Add Meals</a>